.header__subtitle {
  font-size: 18px;
  font-weight: 500;
  margin-right: 24px;
  color: rgba(255, 255, 255, 1);
}

@media (max-width: 700px) {
  .header__subtitle {
    margin-right: 0;
    font-size: 14px;
  }
}
