.profile__name {
  margin: 0;
  max-width: 300px;
  font-weight: 500;
  font-size: 42px;
  line-height: 1.16;
  color: #ffffff;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}

@media (max-width: 962px) {
  .profile__name {
    font-size: 27px;
    max-width: 200px;
  }
}