.profile__about {
  max-width: 300px;
  margin: 0;
  padding-top: 10px;
  width: 100%;
  font-weight: 400;
  font-size: 18px;
  color: #ffffff;
  line-height: 1.0;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}

@media (max-width: 962px) {
  .profile__job {
    max-width: 200px;
    font-size: 14px;
  }
}