.profile__edit-button {
  margin-left: 18px;
  margin-top: 16px;
  box-sizing: border-box;
  width: 24px;
  height: 24px;
  border: 1px solid #ffffff;
  background-color: #000000;
  background-image: url('../../../images/edit-icon.svg');
  background-position: center;
  background-repeat: no-repeat;
  cursor: pointer;
  transition: opacity 0.5s linear 0.3s;
}

.profile__edit-button:hover {
  opacity: 60%;
}

@media (max-width: 960px) {
  .profile__edit-button {
    margin-top: 10px;
    margin-left: 10px;
  }
}

@media (max-width: 800px) {
  .profile__edit-button {
    margin-top: 8px;
    width: 18px;
    height: 18px;
    background-size: 7.25px;
  }
}